<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gbsoft.weather.mybatis.mapper.WeatherMapper">
	<select id="getWeather" resultType="GetWeatherVo">
		<![CDATA[
		SELECT oh.cityId
			 ,oh.current
			 ,c.Sido
			 ,c.weatherName
			 ,ai.FineDustConcentration pm10
			 ,ai.UltrafineDustConcentration pm25
		FROM OPENWEATHER_HOURLY oh
			 LEFT JOIN CITYNAME c ON oh.cityId = c.cityId
			 LEFT JOIN AIRQUALITY_INFO ai ON oh.cityId = ai.CityId
		WHERE oh.cityId=#{cityId}
		]]>
	</select>

	<select id="getOneCallWeather" resultType="GetOneCallWeatherVo">
		<![CDATA[
		SELECT tmmt.cityId
			  ,ai.FineDustConcentration as pm10
			  ,ai.UltrafineDustConcentration as pm25
			  ,ai.OzoneConcentration as ozon
			  ,tmmt.maxTemp
			  ,tmmt.minTemp
			  ,wir.Temperatures as temp
			  ,wir.PrecipitationProbability as pop
			  ,wir.Humidity as humidity
			  ,wir.windSpeed
			  ,wir.windDirection
			  ,wir.Weather
			  ,wir.hour24
			  ,wir.hour03
			  ,wir.hour06
			  ,wir.hour09
			  ,wir.hour12
			  ,wir.hour15
			  ,wir.hour18
			  ,wir.hour21
			  ,wi.weekT1
			  ,wi.weekTH1
			  ,weekPop1
			  ,weekK1
			  ,wi.weekT2
			  ,wi.weekTH2
			  ,weekPop2
			  ,weekK2
			  ,wi.weekT3
			  ,wi.weekTH3
			  ,weekPop3
			  ,weekK3
			  ,wi.weekT4
			  ,wi.weekTH4
			  ,weekPop4
			  ,weekK4
			  ,wi.weekT5
			  ,wi.weekTH5
			  ,weekPop5
			  ,weekK5
			  ,wi.weekT6
			  ,wi.weekTH6
			  ,weekPop6
			  ,weekK6
			  ,wi.weekT7
			  ,wi.weekTH7
			  ,weekPop7
			  ,weekK7
		  FROM TODAY_MIN_MAX_TEMP tmmt
			   LEFT JOIN AIRQUALITY_INFO ai ON tmmt.cityId  = ai.CityId
			   LEFT JOIN WEATHER_INFO wi ON tmmt.cityId = wi.CityId
			   LEFT JOIN WEATHER_INFO_RSS wir ON tmmt.cityId = wir.CityId
	     WHERE tmmt.cityId=#{cityId}
		]]>
	</select>

	<select id="getDust" resultType="GetDustVo">
		<![CDATA[
		SELECT ai.FineDustConcentration
		      ,ai.UltrafineDustConcentration
		  FROM AIRQUALITY_INFO ai
		 WHERE cityId=#{cityId}
		]]>
	</select>

	<select id="getCityName" resultType="CityNameVo">
		SELECT weatherName, dustName, x, y, rss_short
		FROM CITYNAME
		ORDER BY cityId asc
	</select>

	<update id="saveAirDataToDB" parameterType="List">
		<choose>
			<when test="list != null and list.size() != 0">
				<foreach collection = 'list' index='index' item ='item' separator=';'>
					UPDATE AIRQUALITY_INFO
					SET Date = #{item.dataTime}
					,FineDustConcentration = #{item.pm10Value}
					,UltrafineDustConcentration = #{item.pm25Value}
					,OzoneConcentration = #{item.o3Value}
					WHERE CityId = #{item.cityId}
				</foreach>
			</when>
<!--			<otherwise>-->
<!--				UPDATE AIRQUALITY_INFO-->
<!--				SET Date = '-'-->
<!--				,FineDustConcentration = '-'-->
<!--				,UltrafineDustConcentration = '-'-->
<!--				,OzoneConcentration = '-'-->
<!--				WHERE CityId between #{initialNum} and #{finalNum}-->
<!--			</otherwise>-->
		</choose>
	</update>


	<update id="saveWeatherInfoToDB" parameterType="com.gbsoft.weather.dto.WeatherInfoDto">
		UPDATE WEATHER_INFO
		SET Date = #{date}
		  ,Temperatures = #{temperature}
		  ,Weather = #{weather}
		  ,PrecipitationProbability = #{precipitationProbability}
		  ,WindSpeed = #{windSpeed}
		  ,WindDirection = #{windDirection}
		  ,Humidity = #{humidity}
		  ,hourT1 = #{hourT1}
		  ,hourTH1 = #{hourTH1}
		  ,hourK1 = #{hourK1}
		  ,hourT2 = #{hourT2}
		  ,hourTH2 = #{hourTH2}
		  ,hourK2 = #{hourK2}
		  ,hourT3 = #{hourT3}
		  ,hourTH3 = #{hourTH3}
		  ,hourK3 = #{hourK3}
		  ,weekT1 = #{weekT1}
		  ,weekTH1 = #{weekTH1}
		  ,weekPop1 = #{weekPop1}
		  ,weekK1 = #{weekK1}
		  ,weekT2 = #{weekT2}
		  ,weekTH2 = #{weekTH2}
		  ,weekPop2 = #{weekPop2}
		  ,weekK2 = #{weekK2}
		  ,weekT3 = #{weekT3}
		  ,weekTH3 = #{weekTH3}
		  ,weekPop3 = #{weekPop3}
		  ,weekK3 = #{weekK3}
		  ,weekT4 = #{weekT4}
		  ,weekTH4 = #{weekTH4}
		  ,weekPop4 = #{weekPop4}
		  ,weekK4 = #{weekK4}
		  ,weekT5 = #{weekT5}
		  ,weekTH5 = #{weekTH5}
		  ,weekPop5 = #{weekPop5}
		  ,weekK5 = #{weekK5}
		  ,weekT6 = #{weekT6}
		  ,weekTH6 = #{weekTH6}
		  ,weekPop6 = #{weekPop6}
		  ,weekK6  = #{weekK6}
		  ,weekT7 = #{weekT7}
		  ,weekTH7 = #{weekTH7}
		  ,weekPop7 = #{weekPop7}
		  ,weekK7 = #{weekK7}
		  ,updateTime = #{updateTime}
		WHERE CityId = #{cityId}
	</update>

	<update id="saveWeatherInfoRssToDB" parameterType="com.gbsoft.weather.dto.WeatherInfoRssDto">
		UPDATE WEATHER_INFO_RSS
		SET Date = #{date}
		  ,Temperatures = #{temperature}
		  ,PrecipitationProbability = #{precipitationProbability}
		  ,Humidity = #{humidity}
		  ,WindSpeed = #{windSpeed}
		  ,WindDirection = #{windDirection}
		  ,Weather = #{weather}
		  ,hour24 = #{hour24}
		  ,hour03 = #{hour03}
		  ,hour06 = #{hour06}
		  ,hour09 = #{hour09}
		  ,hour12 = #{hour12}
		  ,hour15 = #{hour15}
		  ,hour18 = #{hour18}
		  ,hour21 = #{hour21}
		  ,updateTime = #{updateTime}
		WHERE CityId = #{cityId}
	</update>

	<select id="getCityIdFromOpenWeather" resultType="Integer">
		SELECT cityId
		FROM OPENWEATHER_HOURLY
		ORDER BY cityId ASC
	</select>

	<update id="saveOpenWeatherHourlyToDB" parameterType="com.gbsoft.weather.dto.OpenWeatherHourlyDto">
		UPDATE OPENWEATHER_HOURLY
		SET current = #{current}
			,hour1 = #{hour1}
			,hour2 = #{hour2}
			,hour3 = #{hour3}
			,hour4 = #{hour4}
			,hour5 = #{hour5}
			,hour6 = #{hour6}
			,updateTime = #{updateTime}
		WHERE cityId = #{cityId}
	</update>

	<update id="saveTodayMinMaxTempToDB" parameterType="com.gbsoft.weather.dto.TodayMinMaxTempDto">
		UPDATE TODAY_MIN_MAX_TEMP
		SET date = #{date}
		  ,maxTemp = #{maxTemp}
		  ,minTemp = #{minTemp}
		  ,updateTime = #{updateTime}
		WHERE cityId = #{cityId}
	</update>

	<select id="getGlobalLatLong" resultType="GlobalLatLongVo">
		SELECT Id, countryCode, cityCode, Latitude, Longitude, cityName, UTC
		FROM global_latlong
		ORDER BY Id asc
	</select>

	<update id="saveGlobalWeatherToDB" parameterType="com.gbsoft.weather.dto.GlobalWeatherDto">
		UPDATE global_weather
		SET updateTimeKr = #{updateTimeKr}
		  ,countryCode = #{countryCode}
		  ,cityCode = #{cityCode}
		  ,pm25 = #{pm25}
		  ,pm10 = #{pm10}
		  ,Today = #{today}
		  ,minTemp = #{minTemp}
		  ,maxTemp = #{maxTemp}
		  ,currentTemp = #{currentTemp}
		  ,currentMain = #{currentMain}
		  ,currentDesc = #{currentDesc}
		  ,currentIcon = #{currentIcon}
		  ,hour1Time = #{hour1Time}
		  ,hour1Temp = #{hour1Temp}
		  ,hour1Icon = #{hour1Icon}
		  ,hour2Time = #{hour2Time}
		  ,hour2Temp = #{hour2Temp}
		  ,hour2Icon = #{hour2Icon}
		  ,hour3Time = #{hour3Time}
		  ,hour3Temp = #{hour3Temp}
		  ,hour3Icon = #{hour3Icon}
		  ,week1TMax = #{week1TMax}
		  ,week1TMin = #{week1TMin}
		  ,week1Desc = #{week1Desc}
		  ,week1Icon = #{week1Icon}
		  ,week2TMax = #{week2TMax}
		  ,week2TMin = #{week2TMin}
		  ,week2Desc = #{week2Desc}
		  ,week2Icon = #{week2Icon}
		  ,week3TMax = #{week3TMax}
		  ,week3TMin = #{week3TMin}
		  ,week3Desc = #{week3Desc}
		  ,week3Icon = #{week3Icon}
		  ,week4TMax = #{week4TMax}
		  ,week4TMin = #{week4TMin}
		  ,week4Desc = #{week4Desc}
		  ,week4Icon = #{week4Icon}
		  ,week5TMax = #{week5TMax}
		  ,week5TMin = #{week5TMin}
		  ,week5Desc = #{week5Desc}
		  ,week5Icon = #{week5Icon}
		  ,week6TMax = #{week6TMax}
		  ,week6TMin = #{week6TMin}
		  ,week6Desc = #{week6Desc}
		  ,week6Icon = #{week6Icon}
		  ,week7TMax = #{week7TMax}
		  ,week7TMin = #{week7TMin}
		  ,week7Desc = #{week7Desc}
		  ,week7Icon = #{week7Icon}
		  ,currentHumidity = #{currentHumidity}
		  ,12am = #{valueOf12am}
		  ,3am = #{valueOf3am}
		  ,6am = #{valueOf6am}
		  ,9am = #{valueOf9am}
		  ,12pm = #{valueOf12pm}
		  ,3pm = #{valueOf3pm}
		  ,6pm = #{valueOf6pm}
		  ,9pm = #{valueOf9pm}
		  ,week1 = #{week1}
		  ,week2 = #{week2}
		  ,week3 = #{week3}
		  ,week4 = #{week4}
		  ,week5 = #{week5}
		  ,week6 = #{week6}
		  ,week7 = #{week7}
		WHERE Id = #{id}
	</update>

	<select id="getHolidayList" resultType="Integer">
		SELECT count(*)
		FROM holiday_mnt
		WHERE date LIKE #{thisMonth}
	</select>

	<insert id="saveHolidayToDb" parameterType="List">
		<foreach collection = 'list' index='index' item ='item' separator=';'>
			INSERT INTO holiday_mnt(date, comment)
			VALUES (concat(substr(#{item.locdate},1,4),'-',substr(#{item.locdate},5,2),'-',substr(#{item.locdate},7,2)), #{item.dateName})
		</foreach>
	</insert>
</mapper>